* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: white;
  color: black;
}

#root {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
